ul.pagination__list.nav
    li.pagination__item.pagination--prev.mb-2
        a.pagination__link(href="#")
            +icon('long-arrow-left')

    - for(var i = 1; i < 8; i++)
        if(i == 1)
            li.pagination__item.pagination__item--active.mb-2
                a.pagination__link(href="#")= i

        if(i == 4)
            li.pagination__item.mb-2
                a.pagination__link(href="#") ...
        else
            li.pagination__item.mb-2
                a.pagination__link(href="#")= i

    li.pagination__item.pagination--next.mb-2
        a.pagination__link(href="#")
            +icon('long-arrow-right')
