.main-menu
    $self: &
    background-color: $red

    > .container
        position: relative
        height: 55px

        @include media-breakpoint-up(lg)
            height: 60px
        @include media-breakpoint-up(xl)
            height: 80px

    /**
     * Mobile
     */
    @include media-breakpoint-down(md)
        position: fixed
        top: 0
        left: 0
        right: 0
        z-index: 101

        > .container
            align-items: center
            display: flex
            justify-content: space-between

        &__nav
            display: none


    /**
     * Desktop
     */
    @include media-breakpoint-up(lg)
        &__nav
            align-items: center
            display: flex
            font-size: 16px
            font-weight: 400
            flex-wrap: wrap
            margin: 0
            padding: 0
            height: 60px

            @include media-breakpoint-up(xl)
                font-size: 18px
                height: 80px

            .current-menu-item, .current-menu-parent
                > a
                    color: $white

            a
                align-items: center
                display: inline-flex

                .icon
                    margin-right: 5px
                    font-size: 16px

            // First level
            > li
                align-items: center
                display: flex
                position: relative
                height: 100%

                &:not(:last-child)
                    margin-right: 35px

                    @include media-breakpoint-up(xl)
                        margin-right: 40px

                > a
                    align-items: center
                    color: $white
                    display: flex
                    position: relative

                    &:hover
                        text-decoration: none

                    &::after
                        background-color: $white
                        content: ""
                        width: 0
                        position: absolute
                        bottom: -5px
                        left: 0
                        height: 2px
                        transition: all .2s ease
                        z-index: 11

                &:hover, &.current-menu-item, &.current-menu-parent
                    > a
                        &::after
                            transition: all .2s ease
                            width: 100%

                // Parent
                &.parent, &.menu-item-has-children, &.flexMenu-viewMore
                    a
                        &::before
                            border-top: 5px solid $white
                            border-left: 4px solid transparent
                            border-right: 4px solid transparent
                            display: block
                            content: ""
                            position: absolute
                            top: 50%
                            transform: translateY(-50%)
                            right: -13px

                    &:hover, &.active
                        > a
                            color: $white

                        .main-menu__nav-child, .sub-menu
                            opacity: 1
                            visibility: visible
                            margin-top: 8px
                            transition: all .2s ease


            // Second level
            &-child, .sub-menu
                background-color: #f1f1f1
                border: 1px solid rgba($black, 0.4)
                border-top: 4px solid $red
                text-transform: none
                font-size: 14px
                font-weight: 400
                right: -14px
                min-width: 240px
                padding-top: 10px
                padding-bottom: 10px
                position: absolute
                opacity: 0
                visibility: hidden
                margin-top: 20px
                transition: all .2s ease
                list-style: none
                z-index: 10

                @include media-breakpoint-up(lg)
                    top: 60px
                @include media-breakpoint-up(xl)
                    top: 80px

                &::before
                    border-bottom: 10px solid $red
                    border-left: 12px solid transparent
                    border-right: 12px solid transparent
                    content: ""
                    position: absolute
                    top: -10px
                    right: 20px
                    height: 0
                    width: 0

                li
                    &:not(:last-child)
                        border-bottom: 1px solid #e2e2e2
                        margin-bottom: 0

                    a
                        color: #5d5d5d
                        display: block
                        padding: 10px 20px
                        transition: background-color .2s ease

                        &:hover
                            background-color: #e8e8e8
                            text-decoration: none
                            transition: background-color .2s ease

                        .icon
                            margin-right: 8px
