nav.main-menu.mb-6
    .container
        //- Menu list
        ul.main-menu__nav.nav
            each item in navData
                case item.dropdown
                    when true
                        li.parent
                            a(href= item.link)
                                if(item.icon)
                                    +icon(item.icon)
                                = item.text

                            ul.main-menu__nav-child.nav
                                each itemChilds in item.itemList
                                    li
                                        a(href= itemChilds.link)= itemChilds.text

                    default
                        li
                            a(href= item.link)
                                if(item.icon)
                                    +icon(item.icon)
                                = item.text
