nav.main-menu.mb-lg-6
    .container
        //- Hamburger
        include ../hamburger/hamburger

        //- Menu list
        ul.main-menu__nav.nav
            each item in navData
                case item.dropdown
                    when true
                        li.parent
                            a(href= item.link)
                                if(item.icon)
                                    +icon(item.icon)
                                = item.text

                            ul.main-menu__nav-child.nav
                                each itemChilds in item.itemList
                                    li
                                        a(href= itemChilds.link)= itemChilds.text

                    default
                        li
                            a(href= item.link)
                                if(item.icon)
                                    +icon(item.icon)
                                = item.text

        //- Mobile search
        .search-mobile.d-lg-none
            a.search-mobile__toggle(href="#" data-toggle="dropdown" data-display="static")
                    +icon('search-alt-2')

            include ../w_search-mobile/search-mobile
