.tags
    &__list
        font-size: 15px
        font-weight: 700
        display: flex
        flex-wrap: wrap
        list-style: none

    &__item
        &:not(:last-child)
            margin-right: 15px

    &__link
        &:hover
            text-decoration: none
