.c_comments
    $self: &

    /**
     * Title
     */
    &__title
        color: $gray-800
        font-size: 24px
        font-weight: 400
        line-height: 1.2
        margin-bottom: 30px

        &-count
            color: $red
            font-weight: 700

        &-postname
            color: $gray-500
            font-weight: 500

    &__list
        list-style: none

    /**
     * Comment
     */
    &__comment
        &-parent
            display: flex

        &-left
            margin-right: 15px

        &-avatar, .avatar
            border-radius: 50%

        &-meta
            align-items: flex-end
            display: flex
            flex-wrap: wrap
            margin-bottom: 7px
            font-size: 12px

            > div
                &:not(:last-child)
                    margin-right: 15px

        &-author
            color: $gray-800
            font-size: 14px
            font-weight: 700

            a
                color: $gray-800
                text-decoration: underline

                &:hover
                    color: $red

        &-date
            color: $gray-500

        &-edit
            align-items: center
            display: flex
            color: $gray-500

            .icon
                margin-right: 4px

        &-text
            p
                font-size: 14px
                line-height: 1.6
                margin: 0

                &:not(:last-child)
                    margin-bottom: 15px

        &-footer
            color: $gray-500
            font-size: 11px
            margin-top: 5px

        &-reply, .comment-reply-link
            color: $gray-500

            &:hover
                color: $red
                text-decoration: none

        &:not(:last-child)
            border-bottom: 1px solid $gray-300
            margin-bottom: 20px
            padding-bottom: 20px

        // Is admin
        &--admin, .comment-author-admin
            background-color: lighten($red, 52%)
            padding: 15px

            #{$self}
                &__comment
                    &-date
                        color: $gray-700

                    &-edit
                        color: $gray-600


        // Style comment depth-6 level
        .depth-6, .depth-7, .depth-8, .depth-9, .depth-10, .depth-11
            flex-direction: column

            #{$self}
                &__comment
                    &-left
                        margin-right: 0
                        margin-bottom: 7px

    /**
     * Children
     */
    &__children, .children
        margin-top: 15px
        margin-left: 64px
        list-style: none

        #{$self}__comment
            position: relative

        &-icon
            position: absolute
            top: 50%
            left: -45px
            transform: translateY(-50%)

            .icon
                fill: $gray-500
                font-size: 20px


    /**
     * Pagination
     */
    &__pagination
        &-list
            align-items: center
            display: flex
            flex-wrap: wrap

            .page-numbers
                @extend .pagination__link
