.top-menu
    $self: &

    /**
     * Desktop
     */
    @include media-breakpoint-up(lg)
        &__list
            align-items: center
            display: flex
            font-size: 13px
            font-weight: 300
            height: 50px

        .menu-item,
        &__item
            &:not(:last-child)
                margin-right: 25px

                @include media-breakpoint-up(xl)
                    margin-right: 30px

            > a,
            > span,
            &__link
                color: #e6e6e6
                text-decoration: none
                transition: color .1s ease

                &:hover
                    color: $white
                    text-decoration: none
                    transition: color .1s ease

        .current-menu-item, &--active
            > span
                //border-bottom: 1px dotted lighten($green, 30%)
                color: lighten($green, 30%)

                &:hover
                    color: lighten($green, 30%)
