.top-menu
    $self: &

    &__list
        align-items: center
        display: flex
        font-size: 13px
        font-weight: 300
        height: 50px

    &__item
        &:not(:last-child)
            margin-right: 30px

    &__link
        color: #e6e6e6
        text-decoration: none
        transition: color .1s ease

        &:hover
            color: $white
            text-decoration: none
            transition: color .1s ease

    &--active
        #{$self}__link
            color: $white
            text-decoration: underline





