nav.top-menu
    include ../hamburger/hamburger

    ul.top-menu__list.nav
        - var i = 0;

        each item in topNavData
            if(i == 0)
                li.top-menu__item.top-menu--active
                    a.top-menu__link(href=item.link)= item.text
                - i++
            else
                li.top-menu__item
                    a.top-menu__link(href=item.link)= item.text
                - i++
