.zaurmag
    .zaurmag__title
        span.zaurmag__name Заур
        span.zaurmag__lastname  Магомедов
    .zaurmag__descr
        | <span class="zaurmag__descr-quot">“</span>Мое хобби — разработка сайтов, но со временем это переросло в постоянный и стабильный источник дохода.<span class="zaurmag__descr-quot">”</span>
