.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
}

.icon-angle-double-right {    
    width:(448/512)*1em;
}
.icon-angle-left {    
    width:(256/512)*1em;
}
.icon-angle-right {    
    width:(256/512)*1em;
}
.icon-book {    
    width:(448/512)*1em;
}
.icon-calendar {    
    width:(448/512)*1em;
}
.icon-comments {    
    width:(576/512)*1em;
}
.icon-document {    
    width:(384/512)*1em;
}
.icon-dollar {    
    width:(288/512)*1em;
}
.icon-email {    
    width:(512/512)*1em;
}
.icon-eye {    
    width:(576/512)*1em;
}
.icon-fb {    
    width:(320/512)*1em;
}
.icon-folder {    
    width:(512/512)*1em;
}
.icon-html5 {    
    width:(384/512)*1em;
}
.icon-instagram {    
    width:(448/512)*1em;
}
.icon-joomla {    
    width:(448/512)*1em;
}
.icon-js {    
    width:(448/512)*1em;
}
.icon-rss {    
    width:(448/512)*1em;
}
.icon-search {    
    width:(512/512)*1em;
}
.icon-seo {    
    width:(460/512)*1em;
}
.icon-share-square {    
    width:(576/512)*1em;
}
.icon-telegram-plane {    
    width:(448/512)*1em;
}
.icon-user {    
    width:(448/512)*1em;
}
.icon-video {    
    width:(576/512)*1em;
}
.icon-vk {    
    width:(576/512)*1em;
}
.icon-webdesign {    
    width:(352/512)*1em;
}
.icon-wordpress {    
    width:(512/512)*1em;
}
.icon-youtube {    
    width:(576/512)*1em;
}
.icon-youtube-video {    
    width:(576/512)*1em;
}
