.author-block__foto.mb-3.mb-sm-0
    img(src="../images/author-block/zaurmag.jpg", alt="Заур Магомедов", width="")

.author-block__right
    .author-block__name Заур Магомедов
    .author-block__descr Занимаюсь созданием сайтов с 2009 года. Постоянно обучаюсь и совершенствуюсь, шагая в ногу со временем. Владею такими навыками, как: Html5, Css3, jQuery, JavaScript, БЭМ, Gulp.
    .author-block__btns
        a.btn.btn-danger.btn-smm.mr-3.px-3(href="#") Заказать верстку
        a.btn.btn-success.btn-smm.px-3(href="#") Заказать сайт
