.widget
    &:not(:last-child)
        margin-bottom: 30px

    &__title
        border-bottom: 1px solid $gray-500
        color: #595959
        font-size: 18px
        font-weight: 700
        line-height: 1.13
        margin-bottom: 20px

        span
            border-bottom: 2px solid $red
            display: inline-block
            padding-bottom: 10px
            position: relative
            top: 1px
