.order-block
    animation: fadeRight 0.9s ease-in-out

    &__title
        color: $white
        font-size: 22px
        line-height: 1.2
        //@include responsive-tlt(24px, 37px)
        font-weight: 500
        text-transform: uppercase
        margin-bottom: 15px

@keyframes fadeRight
    from
        transform: translateX(100%)
        opacity: 0

    to
        transform: translateX(0)
        opacity: 1
