.order-block
    .order-block__title У меня вы можете заказать:
    .order-block__buttons
        a.btn.btn-primary.btn-sm.mr-2.px-xl-3(href="#") Верстку
        a.btn.btn-success.btn-sm.mr-2.px-xl-3(href="#") Сайт под ключ
        a.btn.btn-danger.btn-sm.px-xl-3(href="#") Консультацию
