a.social__link(href="https://www.facebook.com/profile.php?id=100002012831514", target="_blank", rel="nofollow")
    +icon('fb')

a.social__link(href="https://vk.com/id185006845", target="_blank", rel="nofollow")
    +icon('vk')

a.social__link(href="https://instagram.com/zaurmag/", target="_blank", rel="nofollow")
    +icon('instagram')

a.social__link(href="https://www.youtube.com/channel/UC7SJL4fVQsDyk7qIV3GZ_PQ", target="_blank", rel="nofollow")
    +icon('youtube')

a.social__link(href="http://feeds.feedburner.com/zaurmag/yyAN", target="_blank", rel="nofollow")
    +icon('rss')
