.single-page
    $self: &

    &__title
        @include responsive-tlt(24px, 30px)

    /**
     * Related
     */
    &__related
        margin-bottom: 30px

        &-tlt
            font-size: 20px
            font-weight: 500
            margin-bottom: 10px

        &-list
            margin-left: 30px
            font-size: 15px
            line-height: 1.4

        &-item
            &:not(:last-child)
                margin-bottom: 10px

        &-link
            color: $gray-800
            text-decoration: underline

            &:hover
                color: $red
