.header
    align-items: center
    //background: url('../images/header/header.jpg') 50% 0 /cover no-repeat
    background-color: #92897d
    height: 340px
    display: flex
    flex-direction: column
    justify-content: space-between
    position: relative

    .top-bar,
    .container
        position: relative
        z-index: 10

    > .container
        height: 100%

        > .row
            height: 100%
