//- Sublime Text 3
.slider-courses__item
    .slider-courses__img
        a(href="#")
            img(src="../images/slider-courses/sublime-text-dvd-box-middle.jpg", alt="Sublime Text 3", width="")

    .slider-courses__content
        .slider-courses__content-tlt Sublime Text 3
        .slider-courses__content-btn
            a.btn.btn-outline-secondary.btn-sm.px-3(href="#") Подробнее

//- Joomla 3
.slider-courses__item
    .slider-courses__img
        a(href="#")
            img(src="../images/slider-courses/middle-oblojka-3d-box-joomla-sait.jpg", alt="Sublime Text 3", width="")

    .slider-courses__content
        .slider-courses__content-tlt Создаем сайт на Joomla 3.x
        .slider-courses__content-btn
            a.btn.btn-outline-secondary.btn-sm.px-3(href="#") Подробнее

//- Joomla 2.5
.slider-courses__item
    .slider-courses__img
        a(href="#")
            img(src="../images/slider-courses/middle-oblojka-3d-box-joomla-templ.jpg", alt="Sublime Text 3", width="")

    .slider-courses__content
        .slider-courses__content-tlt Верстка шаблона для Joomla 2.5
        .slider-courses__content-btn
            a.btn.btn-outline-secondary.btn-sm.px-3(href="#") Подробнее
