.wp-block-image
    display: inline-block
    margin-bottom: 30px

    img
        max-width: 100%
        height: auto

    figure
        margin: 0

    figcaption
        background-color: $gray-200
        color: $gray-800
        margin: 0
        padding: 15px
        font-size: 15px
        text-align: center
