aside.sidebar.sidebar__right.col-lg-4.mt-6.mt-lg-0
    // Поиск
    .widget.w_search
        .widget__title
            span Поиск по блогу

        .form
            form.w_search__form.needs-validation(novalidate)
                .form__group
                    input.form__control.w_search__control(type="text", placeholder="Мин. длина запроса — 3 симв." pattern=".{3,}" required)

                    button.w_search__btn.btn(type="submit")
                        +icon('search')

    // Мои видеокурсы
    .widget
        .widget__title
            span Мои видеокурсы

        .slider-courses.owl-carousel.owl-theme
            include ../slider-courses/slider-courses


    // Подписка на новости
    .widget
        .widget__title
            span Подписка на новости блога
        p Подпишитесь на рассылку, чтобы не пропустить новые материалы на блоге.
        .form
            form.needs-validation(novalidate)
                fieldset.form__fields
                    .form__group.form__group--icon
                        label.form__label Ваше имя *
                        input.form__control(type="text" name="name" required="required")

                        +icon('user')

                    .form__group.form__group--icon
                        label.form__label Ваше email *
                        input.form__control(type="email" name="email" required="required")

                        +icon('email')

                button.btn.btn-block.btn-danger.btn-tt_up(type="submit") Подписаться


    // Подписка на канал Телеграм
    .widget
        .widget__title
            span Соц. сети

        p Получайте уведомления в соц.сетях о выходе новых материалов. Например, пользователи Телеграм получают раньше всего рассылку.
        .row.no-gutters
            .col-xl-6.col-lg-12.col-6.pr-xl-1.pr-lg-0.pr-2.mb-0.mb-lg-2
                .social-subscr.social-subscr--telegram
                    a.social-subscr__link(href="https://t.me/zaur_mag", target="_blank" rel="nofollow")
                        span.social-subscr__icon
                            +icon('telegram-plane')

                        span.social-subscr__right
                            span.social-subscr__tlt @zaur_mag
                            span.social-subscr__subscribers Подписаться
            .col-xl-6.col-lg-12.col-6.pl-xl-1.pl-lg-0.pl-2
                .social-subscr.social-subscr--youtube
                    a.social-subscr__link(href="https://www.youtube.com/channel/UC7SJL4fVQsDyk7qIV3GZ_PQ", target="_blank" rel="nofollow")
                        span.social-subscr__icon
                            +icon('youtube-logo')

                        span.social-subscr__right
                            span.social-subscr__tlt 771
                            span.social-subscr__subscribers Подписчиков

    // Популярное
    .widget
        .widget__title
            span Популярное

        .posts.posts--sm
            each item in smPostsData
                article.post.post--sm
                    +sm_post(item.title, item.image, item.date, item.views, '', item.comments)

    // Последние комментарии
    .widget
        .widget__title
            span Последнии комментарии

        .w_comments
            .w_comment
                +w-comment('Заур Магомедов', 'Мультиязычность в Joomla 3. Как сделать мультиязычный сайт на Joomla?', 'Здравствуйте. Я же изложил все подробно в статье. Почитайте все внимательно...')

            .w_comment
                +w-comment('Линда', 'Мультиязычность в Joomla 3. Как сделать мультиязычный сайт на Joomla?', 'Добрый день!Подскажите, пожалуйста, в скаченном шаблоне язык сайта английский. Поставила русский, вы...')

            .w_comment
                +w-comment('Заур Магомедов', 'Мультиязычность в Joomla 3. Как сделать мультиязычный сайт на Joomla?', 'Не за что Trina!')

            .w_comment
                +w-comment('Trina', 'Мультиязычность в Joomla 3. Как сделать мультиязычный сайт на Joomla?', 'I succeeded in everything perfectly. I even managed to translate the drop down menu :)Thank you so v...')

