aside.sidebar.sidebar__right.col-lg-4
    // Поиск
    .widget.w_search
        .form
            form.w_search__form
                .form__element
                    input.form__input.w_search__input(type="text", placeholder="Поиск по сайту...")

                    button.w_search__btn.btn(type="submit")
                        +icon('search')

    // Мои видеокурсы
    .widget
        .widget__title
            span Мои видеокурсы

        .slider-courses.owl-carousel.owl-theme
            include ../slider-courses/slider-courses


    // Подписка на новости
    .widget
        .widget__title
            span Подписка на новости блога
        p Подпишитесь на рассылку, чтобы не пропустить новые материалы на блоге.
        .form
            form.form__form
                fieldset.form__fields
                    .form__element.form__element--icon
                        label.form__label Ваше имя *
                        input.form__input(type="text" name="name" required="required")

                        +icon('user')

                    .form__element.form__element--icon
                        label.form__label Ваше email *
                        input.form__input(type="email" name="email" required="required")

                        +icon('email')

                button.mt-3.btn.btn-block.btn-danger.btn-tt_up(type="submit") Подписаться


    // Подписка на канал Телеграм
    .widget
        .widget__title
            span Канал в Телеграм

        p Пользователи Телеграм получают раньше всего рассылку. Поэтому получайте оповещения мнгновенно.
        .social-subscr.social-subscr--telegram
            a.social-subscr__link(href="https://t.me/zaur_mag", target="_blank" rel="nofollow")
                span.social-subscr__icon
                    +icon('telegram-plane')

                span.social-subscr__right
                    span.social-subscr__tlt @zaur_mag
                    span.social-subscr__subscribers Подписаться

    // Популярное
    .widget
        .widget__title
            span Популярное

        .posts.posts--sm
            -
                var postsData = [
                    {
                        "title" : "Цветовой профиль в фотошопе и его настройка",
                        "image" : "1642-featured-208x0",
                        "date" : "Ноя 03, 2013",
                        "views" : "114 183",
                        "comments": "74"
                    },
                    {
                        "title" : "Мультиязычность в Joomla 3. Как сделать мультиязычный сайт на Joomla?",
                        "image" : "2219-featured-208x0",
                        "date" : "Авг 16, 2014",
                        "views" : "147278",
                        "comments": "480"
                    },
                    {
                    "title" : "Как выровнять горизонтальное меню по центру?",
                    "image" : "146-featured-208x0",
                    "date" : "Дек 01, 2012",
                    "views" : "70 980",
                    "comments": "113"
                    },
                    {
                    "title" : "Как открыть сайт в локальной сети с локального компьютера?",
                    "image" : "2947-featured-208x0",
                    "date" : "Авг 16, 2014",
                    "views" : "49 744",
                    "comments": "59"
                    },
                    {
                    "title" : "Создаем всплывающие окна для сайта — Magnific Popup",
                    "image" : "3130-featured-208x0",
                    "date" : "Авг 18, 2016",
                    "views" : "74 698",
                    "comments": "113"
                    },
                ];
            each item in postsData
                article.post.post--sm
                    +sm_post(item.title, item.image, item.date, item.views, '', item.comments)

    // Последние комментарии
    .widget
        .widget__title
            span Последнии комментарии

        .w_comments
            .w_comment
                +w-comment('Заур Магомедов', 'Мультиязычность в Joomla 3. Как сделать мультиязычный сайт на Joomla?', 'Здравствуйте. Я же изложил все подробно в статье. Почитайте все внимательно...')

            .w_comment
                +w-comment('Линда', 'Мультиязычность в Joomla 3. Как сделать мультиязычный сайт на Joomla?', 'Добрый день!Подскажите, пожалуйста, в скаченном шаблоне язык сайта английский. Поставила русский, вы...')

            .w_comment
                +w-comment('Заур Магомедов', 'Мультиязычность в Joomla 3. Как сделать мультиязычный сайт на Joomla?', 'Не за что Trina!')

            .w_comment
                +w-comment('Trina', 'Мультиязычность в Joomla 3. Как сделать мультиязычный сайт на Joomla?', 'I succeeded in everything perfectly. I even managed to translate the drop down menu :)Thank you so v...')

