footer.footer.mt-5
    .container
        .row.align-items-center
            .col-lg-7.mb-lg-0.mb-3
                .footer__copyright
                    p.mb-1 © Copyright 2013 - 2019 гг.
                        span.footer__light  Заур Магомедов
                    p Копирование материалов сайта разрешается при условии установки активной ссылки на ресурс —
                        span.footer__light  zaurmag.ru

            .col-lg-5
                include ../footer-nav/footer-nav
