.container
    .row
        .col-md-8
            include ../top-menu/top-menu

        .col-md-4.d-flex.align-items-center.justify-content-end
            .contact-block
                .contact-block__email
                    +icon('email')
                    a.contact-block__email-link(href="mailto:order@zaurmag.ru") order@zaurmag.ru

                .social.ml-xl-6.ml-4
                    include ../social/social
