extends ./base/page

block variables
    - var title = 'Контакты'
    - var pageClass = 'single-page'

block columns
    main.content__no-cols.col-12
        article.single-page.post
            header.post__header
                h1.single-page__title.m-0= title

            .row
                .col-lg-6.mb-6.mb-lg-0
                    .textblock
                        p Для связи со мной воспользуйтесь формой обратной связи ниже. Я обязательно вам отвечу, как будет возможность. Обычно я отвечаю на письма в течении суток.

                    .form
                        form.needs-validation(novalidate)
                            .form__header
                                p.m-0 Поля, отмеченные *, обязательны для заполнения!

                            fieldset.form__fields
                                .form__row
                                    .col-md-6
                                        .form__group
                                            .form__label Ваше имя *
                                            input.form__control(type="text" value="" required)

                                    .col-md-6
                                        .form__group
                                            .form__label Ваше email *
                                            input.form__control(type="email" value="" required)

                                .form__group
                                    label.form__label.form__label--textarea Текст сообщения *
                                    textarea.form__control.form__control--textarea(value="" required)

                            button.btn.btn-secondary.px-3(type="submit")
                                span.mr-1 Отправить

                .col-lg-6
                    img.img-fluid(src="../images/zaurmag-rif-kavkaz.jpg", alt="Заур Магомедов", width="")
