/* Titles
   ========================================================================= */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6 .h6
    color: #3f3f3f
    margin: 0 0 20px
    line-height: 1.2
    font-weight: 700

    &:not(:first-child)
        margin-top: 20px


/**
 * Responsive titles
 */
h1, .h1
    /* 36px - 24px */
    @include responsive-tlt(24px, 32px)

h2, .h2
    /* 30px - 22px */
    @include responsive-tlt(22px, 30px)

h3, .h3
    /* 26px - 20px */
    @include responsive-tlt(20px, 26px)

h4, .h4
    /* 24px - 18px */
    @include responsive-tlt(18px, 24px)

h5, .h5
    /* 20px - 17px */
    @include responsive-tlt(17px, 20px)

h6, .h6
    /* 18px - 16px */
    @include responsive-tlt(16px, 18px)


/** Lists *
ul,
ol
    list-style: none
    margin: 0
    padding: 0


/**
 * Paragraph
 */
p
    color: #595959
    font-size: 13px
    line-height: 1.54

    &.small
        font-size: 13px !important

/**
 * Type
 */
.small
    font-size: 13px


/**
 * Buttons
 */
.btn
    align-items: center
    display: inline-flex
    font-weight: 500
    justify-content: center

    &:not([class*="btn-outline-"])
        box-shadow: inset 0 3px 0 0 rgba(0, 0, 1, 0.15)

    &:not(.btn-lg):not(.btn-sm):not(.btn-smm)
        border-radius: 2.4px
        font-size: 14px
        padding-top: 0
        padding-bottom: 0
        height: 40px

    &-sm
        font-size: 13px
        padding-top: 0
        padding-bottom: 0
        height: 35px

    &-smm
        font-size: 12px
        padding-top: 0
        padding-bottom: 0
        height: 28px

    &-tt_up
        font-size: 12px
        text-transform: uppercase


/**
 * Forms
 */
.form-row
    display: flex
    margin-left: -8px
    margin-right: -8px

    [class*="col-"]
        padding-left: 8px
        padding-right: 8px
